name: Deploy Next.js to DigitalOcean

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Next.js app
        run: npm run build && npm run export

      - name: Archive production files
        run: tar -czf next-app.tar.gz out/

      - name: Copy files to DigitalOcean
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 165.22.98.216
          username: root
          password: ${{ secrets.DO_PASSWORD }}
          source: "next-app.tar.gz"
          target: "/var/www/celeparty.com/celeparty-fe/"

      - name: Deploy on server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 165.22.98.216
          username: root
          password: ${{ secrets.DO_PASSWORD }}
          script: |
            cd /var/www/celeparty.com/celeparty-fe
            tar -xzf next-app.tar.gz
            rm -f next-app.tar.gz
            # restart nginx / pm2 / etc sesuai setup kamu
            systemctl restart nginx
